services:
  composer:
    image: composer:2
    volumes:
      - .:/app
    working_dir: /app
    command: install

  php:
    image: php:8.2-cli
    volumes:
      - .:/app
    working_dir: /app
    command: vendor/bin/phpunit

  allure:
    image: frankescobar/allure-docker-service
    ports:
      - "5050:5050"
    volumes:
      - ./allure-results:/app/allure-results
      - ./allure-report:/app/default-reports
